@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.header-top-bar {
  background-image: url("/images/top-bar.webp");
}
.header-nav-bar {
  background: #FF6100;
}
.cate-navbar .search input::placeholder {
  color: #8c9196;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
button.button {
  background: var(--gradient, linear-gradient(260deg, #f60 0%, #ec9f05 100%));
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
button.button.booking {
  background: #2e9ed5;
}
.full-withradius {
  position: relative;
  background: #fff;

  /*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
  background-clip: padding-box;

  border: solid 1px transparent;
  border-radius: 10px;
}
.full-withradius::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  /* same as border width */
  border-radius: inherit;
  /* inherit container box's radius */
  background: linear-gradient(
    260deg,
    rgb(255, 102, 0) 0%,
    rgb(236, 159, 5) 100%
  );
}

/*
*/
.cate-menu {
  display: none;
  /* max-height: 0; */
  /* transition: max-height 0.3s ease-out; */
}
.enable-show-menu:hover .cate-menu {
  display: block;
  /* max-height: 600px; */
  /* transition: max-height 0.3s ease-out; */
}
/* Bắt đầu --- Xử lí khi hover nào vòn tròn giảm giá ---*/
.promotion-box:hover .promotion-frame {
  transform-origin: center; /* Điểm xoay ở giữa */
  animation: none; /* Không có animation ban đầu */
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Kết thúc --- Xử lí khi hover nào vòn tròn giảm giá ---*/

/* Bắt đầu --- Custom button swiper button */
.mySwiper-custom {
  position: unset !important ;
}

.mySwiper-custom .swiper-button-next,
.mySwiper-custom .swiper-button-prev {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  background-image: url("/images/icon-arrow/black/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s visibility 0.3s;
}
.mySwiper-custom .swiper-button-next {
  right: 4px !important;
}
.mySwiper-custom .swiper-button-prev {
  transform: rotate(-180deg);
  left: 4px !important;
}
.mySwiper-custom .swiper-button-next::after,
.mySwiper-custom .swiper-button-prev::after {
  content: "";
}

.mySwiper-custom .swiper-button-prev.swiper-button-disabled,
.mySwiper-custom .swiper-button-next.swiper-button-disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}
.mySwiper-custom:hover .swiper-button-next,
.mySwiper-custom:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}
/* Kết thúc --- Custom button swiper button */

/* Bắt đầu --- Custom mySwiper-custom-general-component */
.mySwiper-custom-general-component .swiper-pagination-bullet,
.mySwiper-custom-general-component
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 29px;
  height: 4px;
  border-radius: 0px;
  opacity: 0.5;
  background: #7a7a7a;
}
.mySwiper-custom-general-component
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f60;
}
.mySwiper-custom-general-component .swiper-button-next,
.mySwiper-custom-general-component .swiper-button-prev {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  background-image: url("/images/icon-arrow/black/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  opacity: 1;
  transition: 0.3s;
}
.mySwiper-custom-general-component .swiper-button-prev {
  transform: rotate(-180deg);
}
.mySwiper-custom-general-component .swiper-button-next::after,
.mySwiper-custom-general-component .swiper-button-prev::after {
  content: "";
}

/*  */
.swiper-slide {
  height: auto !important;
}
/* .info-product {
  height: calc(100% - 222px);
} */
@media (min-width: 1200px) {
  .info-product {
    //height: calc(100% - 270px);
  }
}
@media (max-width: 1023px) {
  .mySwiper-custom-general-component .swiper-button-next,
  .mySwiper-custom-general-component .swiper-button-prev,
  .mySwiper-custom .swiper-button-next,
  .mySwiper-custom .swiper-button-prev {
    display: none;
  }
}

.toggle-switch {
  position: relative;
  width: 55px;
  display: inline-block;
  text-align: left;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 32px;
  padding: 0;
  line-height: 32px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "";
  padding-left: 10px;
  background-color: #2e9ed5;
  color: #fff;
}
.inner:after {
  content: "";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}
